src/Task4/com/example/city.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="city" type="cityType"/>
  <xs:complexType name="streetType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Main Street"/>
            <xs:enumeration value="Second Avenue"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="house">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="123"/>
            <xs:enumeration value="456"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="streetType" name="street" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="size"/>
  </xs:complexType>
</xs:schema>